/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #001e4d; /* Dark blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.quiz-container {
    padding: 20px 0;
}

#question {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

/* Styles for correct/incorrect visual feedback */
.correct {
    background: #9aeabc;
    border-color: #9aeabc;
}

.incorrect {
    background: #ff9393;
    border-color: #ff9393;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Helps center it */
}